.burger-menu {
  @include square(20px);
  position: relative;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    @include abs-center;
    background-color: var(--color-black);
    box-shadow: 0 5px 0 0 var(--color-black), 0 -5px 0 0 var(--color-black);
  }
}
