.button {
  background-color: var(--color-accent);
  border-radius: var(--border-radius);

  width: 152px;
  height: 58px;
  box-shadow: var(--box-shadow-button);
  color: var(--color-white);
  display: flex;
  @include flex-center;

  @include hover {
    background-color: var(--color-brown);
  }

  &--transparent {
    background-color: transparent;
    color: var(--color-brown);
    border: 1px solid currentColor;
    box-shadow: none;

    @include hover {
      background-color: var(--color-accent);
      color: var(--color-white);
      background-color: var(--color-accent);
      border-radius: var(--border-radius);
    }
  }

  @include desktop {
    width: 85px;
    height: 40px;
  }
}
