.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: start;
  gap: 30px;
  border: 1px solid var(--color-pale);
  transition-duration: var(--transition-duration);
  padding: 40px 30px;

  &__title {
    font-weight: 600;
  }

  @include hover {
    box-shadow: var(--box-shadow-button);
  }
}
