.carousel {
  width: 892px;
  height: 540px;
  background-color: var(--color-gray);
  display: flex;
  flex-flow: column nowrap;

  @include flex-center;
  &__cards {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    overflow: visible;
    @include flex-center;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    gap: 20px;
    min-width: 380px;
    background-color: var(--color-white);
    font-size: "Inter";
    padding: 40px 32px;
    box-shadow: 0 100px 80px 0 var(--color-black-alt6);

    &-title {
      @include fluid-text(18, 16);
      font-weight: 600;

      @include desktop {
        @include fluid-text(14, 12);
      }

      &-post {
        font-weight: inherit;
        font-size: inherit;
      }
    }

    &-text {
      font-weight: 400;
    }
  }
  &__management {
    width: 120px;
    position: relative;
    top: 59px;
    height: 66px;
    border-radius: 70px;
    background-color: var(--color-white);
    display: flex;
    @include flex-center;

    &-button {
      width: 50px;
      height: 50px;
      display: flex;
      @include flex-center;
      border-radius: 40px;
      box-shadow: 0px 8px 15px 0px var(--color-black-alt7);
      background-color: inherit;

      img {
        width: 75%;
        height: auto;
      }

      @include hover {
        background-color: var(--color-dark);
      }
    }
  }
}
